<h2>Current Stores</h2>
<% if @stores.any?() %>
  <% @stores.each() do |store| %>
    <h3><a href="/edit/<%= store.id %>/store"><%= store.name() %></a></h3>
  <% end %>
  <% else %>
    <h3>No Stores</h3>
  <% end %>

<h2>Add a Store</h2>

<form action="/add/store" method="post">
  <label for="name">Store Name</label>
  <input type="text" name="name">
  <button type="submit" name="button">Add</button>
</form>

<a class="btn btn-default" href="/">Home</a>
<a class="btn btn-default" href="/">Back</a>
